@*Christine Jordan and Kelcee Chorba 12.2.2020 W10 Project*@
@{
    ViewData["Title"] = "Coming Soon: About Us!";
}
<h1>@ViewData["Title"]</h1>

<p>This will have information about us and what recipes we offer.</p>
<div class="card mb-3">
    <h3 class="card-header">Card header</h3>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>
    <img src="@Url.Content("~/images/background.jpg")" class="img-fluid img-thumbnail" width="100" height="200" aria-label="Placeholder: Image cap">
    
    <div class="card-body">
        <p class="card-text">Christine and Kelcee both have a love and passion for cooking. Especially when it's combined with Harry Potter!
        Our page offers receipes that combine the love of cooking with all things Harry Potter!</p>
    </div>
</div>