@*Christine Jordan and Kelcee Chorba 12.2.2020 W10 Project*@
@{
    ViewData["Title"] = "Coming Soon: About Us!";
}
<h1>@ViewData["Title"]</h1>

<p>This will have information about us and what recipes we offer.</p>
